In [2]:
#dependencies
import pandas as pd
import json as js
import requests as rq
from pprint import pprint
import time

In [3]:
#import data from csv
cities_data = pd.read_csv("california_cities.csv")
cities_data =cities_data.drop(["Unnamed: 0"], axis=1)
cities_data.head(10)

              city  type          county       state        lat         lng
0         Adelanto  City  San Bernardino  california  34.582770 -117.409215
1     Agoura Hills  City     Los Angeles  california  34.153340 -118.761676
2          Alameda  City         Alameda  california  37.765206 -122.241636
3           Albany  City         Alameda  california  37.886870 -122.297748
4         Alhambra  City     Los Angeles  california  34.095287 -118.127015
5      Aliso Viejo  City          Orange  california  33.568461 -117.726298
6          Alturas  City           Modoc  california  41.487115 -120.542455
7      Amador City  City          Amador  california  38.419355 -120.824103
8  American Canyon  City            Napa  california  38.174918 -122.260804
9          Anaheim  City          Orange  california  33.836593 -117.914301

In [4]:
#openweather api key creation
# api key and unix times
api_key = "627fe73e331005c5c18a30f6005cf3f7"
start = "1514764800"
end = "1543449600"

In [5]:
#precip forcast api call
test = "http://api.openweathermap.org/data/2.5/weather?lat=37.3614238&lon=-118.3996636&APPID=627fe73e331005c5c18a30f6005cf3f7"
response = rq.get(test).json()
#response
#response["rain"]["1h"]
response

{'coord': {'lon': -118.4, 'lat': 37.36},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 274.05,
  'pressure': 1008,
  'humidity': 56,
  'temp_min': 274.05,
  'temp_max': 274.05},
 'visibility': 16093,
 'wind': {'speed': 5.1, 'deg': 240, 'gust': 13.9},
 'clouds': {'all': 90},
 'dt': 1543698900,
 'sys': {'type': 1,
  'id': 4933,
  'message': 0.0035,
  'country': 'US',
  'sunrise': 1543675805,
  'sunset': 1543710952},
 'id': 5328808,
 'name': 'Bishop',
 'cod': 200}

In [43]:
rain =[]
for lat, lng in zip(cities_data['lat'],cities_data['lng']):
    base_url = f"http://api.openweathermap.org/data/2.5/weather?lat={float(lat)}&lon={float(lng)}&APPID={api_key}"
    data = rq.get(base_url).json()
    try:
        rain.append(data["rain"]["1h"])
    except:
        rain.append(0)
    time.sleep(1.5)
    
pprint(rain)

[0,
 0,
 1.02,
 1.02,
 0,
 0,
 0,
 1.02,
 0.51,
 0,
 0,
 2.67,
 1.17,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0.92,
 4.32,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.02,
 1.02,
 0.44,
 1.02,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.13,
 1.02,
 0,
 0,
 0,
 1.02,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0.92,
 0,
 0.89,
 0,
 0.38,
 0,
 0,
 0,
 2.67,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.02,
 0.25,
 0.25,
 0,
 0,
 0,
 0,
 1.02,
 0,
 0,
 0,
 0,
 1.02,
 0,
 0,
 0,
 0,
 0.44,
 0,
 0,
 0,
 0,
 0,
 0,
 0.92,
 0,
 1.02,
 0,
 1.02,
 0,
 0,
 0.38,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.02,
 0,
 0.92,
 0,
 0,
 0,
 1.02,
 0,
 0,
 1.02,
 1.02,
 0,
 2.42,
 0,
 0,
 0,
 0,
 0.44,
 1.01,
 0,
 0,
 0,
 0,
 0,
 0,
 0.25,
 0,
 0,
 1.02,
 0,
 0,
 1.02,
 0,
 0,
 1.02,
 0,
 0,
 0.89,
 0,
 0,
 0,
 0.38,
 0,
 0,
 0.51,
 0,
 0,
 0,
 4.32,
 1.02,
 0,
 0,
 0,
 1.02,
 0.25,
 0,
 0.44,
 0,
 0,
 0,
 0,
 1.14,
 0.38,
 0,
 2.42,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0.51,
 0,
 0,
 1.53,
 0.51,
 0,
 0,
 0.51,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.02,
 0,
 0,
 0,
 0,
 0,
 0,
 0.25,
 0,
 0,
 0.51,
 2.46,
 0,
 0,
 0,
 0,
 0,
 0,
 1.02,
 4.32,
 2.46,
 0,
 0,
 0,
 0,
 0,
 0,
 1.02,
 1.02,
 0,
 4.32,
 0.92,
 0.25,
 0,
 0,
 0,
 0,
 0,
 2.46,
 0,
 0.38,
 1.17,
 0,
 0,
 0,
 0,
 0,
 0.92,
 4.32,
 1.17,
 1.02,
 1.02,
 0,
 2.42,
 0,
 0,
 0,
 1.02,
 0,
 0.38,
 0,
 0,
 1.14,
 0,
 1.22,
 0,
 0,
 0.92,
 0,
 0.25,
 0,
 0,
 0.51,
 1.02,
 2.42,
 0,
 0,
 0,
 0.51,
 2.42,
 1.14,
 0.89,
 0,
 0,
 0,
 0,
 0,
 1.14,
 0,
 0.51,
 0,
 0.38,
 1.14,
 0,
 0,
 0,
 1.02,
 0,
 0,
 0,
 0,
 0,
 0,
 2.46,
 0,
 0.25,
 0,
 1.14,
 1.02,
 0,
 1.06,
 0,
 0.51,
 1.14,
 1.05,
 0,
 0,
 0,
 0,
 0,
 0.25,
 1.02,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.14,
 0,
 0,
 1.17,
 0,
 0,
 0.89,
 2.46,
 2.42,
 0,
 0.51,
 0,
 0,
 0,
 0,
 0.51,
 0.51,
 0,
 0,
 0.38,
 0.51,
 0,
 1.14,
 1.14,
 0,
 0,
 0,
 0,
 1.14,
 0,
 0,
 0,
 1.02,
 0.59,
 0,
 1.14,
 0,
 0,
 0,
 1.14,
 1.17,
 0.51,
 1.05,
 0.38,
 0,
 0,
 0,
 1.02,
 0,
 0.89,
 0,
 0,
 0,
 0,
 0,
 0,
 1.02,
 1.17,
 0.76,
 0,
 0.38,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0.51,
 0,
 0.25,
 4.32,
 0,
 0,
 0.25,
 0,
 1.14,
 0,
 2.46,
 1.01,
 1.02,
 0,
 0.51,
 0,
 0,
 0,
 0,
 0,
 0,
 1.17,
 0,
 1.52,
 0,
 0.25,
 0,
 0,
 2.42,
 0,
 0,
 0,
 1.14,
 0,
 0,
 0.51,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.14,
 0,
 2.42,
 0.89,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1.02,
 0,
 0,
 0,
 0,
 0,
 0]

In [44]:
cities_data["rain"] = rain
cities_data.head()

           city  type          county       state        lat         lng  rain
0      Adelanto  City  San Bernardino  california  34.582770 -117.409215  0.00
1  Agoura Hills  City     Los Angeles  california  34.153340 -118.761676  0.00
2       Alameda  City         Alameda  california  37.765206 -122.241636  1.02
3        Albany  City         Alameda  california  37.886870 -122.297748  1.02
4      Alhambra  City     Los Angeles  california  34.095287 -118.127015  0.00

In [45]:
print(len(rain))

482

In [46]:
cities_data.to_csv("california_cities_1h_rainfall")